
#main-container{
  min-width: 1920px;
  max-width: 1920px;
margin-right: auto;
margin-left:auto;


}

.bar{
  position: relative;
  width: 1920px;
  height: 128px;
  padding-top:32px;
  background-color: var(--praimary-color);
}

.logo{
  margin-left:64px;
  display:inline-block;
}

.menu{
  position: absolute;
  top:32px;
  right:64px;
  padding:16px 16px;
}


.menu a {
  color:#fff;
  text-decoration: none;
  text-align: right;
  color:white;
  font-family: Assistant;
  font-size : 24px;
  padding:16px 16px;
  margin-left:24px;

}

.article{
  height: 1629px;
  margin:0 auto;
  padding-left:64px;
  padding-right:64px;
}




.container-left{
 display: inline-block;
 min-height: 430px;
  max-width: 430px;
  padding-right: 24px;

}



.container-center{
display:inline-block;
vertical-align: top;
max-width: 884px;
min-width: 884px;
text-align: top;
}

.code{
  display:inline-block;
  vertical-align: top;
  width: 884px;
  height: 442px;
}




.container-right{
  display: inline-block;
  width: 25%;
 
}

.braek{
  margin-bottom:40px;
}

.container-right{
  display: inline-block;
  vertical-align: top;
  min-height: 430px;
   max-width: 430px;
   padding-left: 24px;
 
 }

 .career-img{
   width: 430px;
   height: 430px;
 }




